<div class='form-group'>
  <label for='name'>Task Name</label>
  <input type='text' class='form-control' name='name' ></input>
</div>
<div class='form-group'>
  <label for='description'>Description</label>
  <input type='text' class='form-control' name='description' ></input>
</div>
<div class='form-group'>
  <label for='completed'>Completed</label>
  <select type='text' class='form-control' name='completed' >
    <option>true</option>
    <option>false</option>
  </select>
</div>

<button type="submit" class='btn btn-primary'>Submit</button>
