



<div class='form-group'>
  <label for='name'>Task Name</label>
  <input type='text' class='form-control' name='name' value='<%=todo.name%>' ></input>
</div>
<div class='form-group'>
  <label for='description'>Description</label>
  <input type='text' class='form-control' name='description' value='<%=todo.description%>'></input>
</div>
<div class='form-group'>
  <label for='completed'>Completed</label>
  <select type='text' class='form-control' name='completed' value='<%=todo.completed%>' >
    <option>false</option>
    <option>true</option>
  </select>
</div>

<button type="submit" class='btn btn-primary pull-right'>Submit</button>
