<h1>Create a new todo</h1>

<form method = "POST">
  <div class='form-group'>
    <label for='name'>Name</label>
    <input type='text' class='form-control' name='name' value='Name' ></input>
  </div>
  <div class='form-group'>
    <label for='color'>Color</label>
    <input type='text' class='form-control' name='color' value='Red%>'></input>
  </div>

  <button type="submit" class='btn btn-primary pull-right'>Submit</button>
</form>
<a href='/todolists'><button class='btn btn-danger pull-right'>Cancel</button></a>
