<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Todo App</title>
  </head>
  <body>
    <div class='container center'>
      <div class='row'>
        <%- body %>
    </div>
  </div>
  </body>
</html>
