<div class='col-md-12 text-center'>
<h1> Todo List </h1>
</div>



<div class='navbar-header'>
  <ul class='nav navbar-nav'>
  <button><a href='new' class="nounderline">New</a></button>
  </ul>
</div>



<div class='col-md-12'>
  <div class='row'>
<% todos.forEach(function (todo){ %>
  <a href='<%=todo._id%>'>
  <div class='col-md-4 panel panel-primary'>
    <div class='panel-heading h3'> <%= todo.name%></div>
    <div class='panel-body'>ID: <%= todo.id%></div>

  </div>
  </a>
<% })%>
</div>
</div>
