<div class='col-md-12 text-center'>
  <h1> DashBoard </h1>
</div>


<div class='col-md-12'>
  <div class='row'>

      <% todos.forEach(function (todo){ %>
        <% if(!todo.completed)  {%>
          <a href='todos/<%=todo._id%>'>
            <div class='col-md-3 col-md-offset-1 panel panel-default'>
              <div class='panel-heading h3'> <%= todo.name%></div>
              <div class='panel-body'>ID: <%= todo.id%></div>
            </div>
          </a>
          <% }})%>
            <a href='todos/new'>
              <div class='col-md-3 col-md-offset-1 panel panel-default text-center'>

                <div class='panel-body'>

                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>

                </div>
              </div>
            </a>

          </div>
